<h3>回答ページ</h3>

<ul class="pager">
  <li class="previous">
    <%= link_to '← チーム・お題を再選択', root_path %>
  </li>
</ul>

<div class="well-label">
  <strong>チーム</strong>
</div>
<div class="well well-sm">
  <%= @team.name %>
</div>

<div class="well-label">
  <strong>お題</strong>
</div>
<div class="well well-sm">
  <% @answer.text.split("\r\n").each do |line| %>
    <div><%= line %></div>
  <% end %>
</div>

<hr>

<%= render 'form' %>
